body {
	--shiki-code-background: var(--code-background);
	--shiki-code-normal: var(--code-normal);
	--shiki-code-comment: var(--code-comment);
	--shiki-code-function: var(--color-green);
	--shiki-code-important: var(--code-important);
	--shiki-code-keyword: var(--code-keyword);
	--shiki-code-property: var(--code-property);
	--shiki-code-punctuation: var(--code-punctuation);
	--shiki-code-string: var(--color-yellow);
	--shiki-code-value: var(--code-value);
}

/* Disable ligatures in code blocks, as they can cause incorrect highlighting */
div.expressive-code {
	font-variant-ligatures: no-contextual;

	div.ec-line {
		span {
			color: var(--0);
			font-style: var(--0fs);
		}

		&.highlight {
			background-color: var(--highlight);
		}

		&.mark {
			--highlight: var(--background-modifier-hover);
		}
	}
}

/* Hide the frontmatter code block in reading view again */
div.markdown-preview-view > div > div.mod-header + div > div {
	display: none;
}
