body {
	--shiki-code-background: var(--code-background);
	--shiki-code-normal: var(--text-muted);
	--shiki-code-comment: var(--text-faint);
	--shiki-code-function: var(--color-green);
	--shiki-code-important: var(--color-orange);
	--shiki-code-keyword: var(--color-pink);
	--shiki-code-property: var(--color-cyan);
	--shiki-code-punctuation: var(--text-muted);
	--shiki-code-string: var(--color-yellow);
	--shiki-code-value: var(--color-purple);

	/*--shiki-code-border-color: var(--background-modifier-border);*/
	--shiki-code-block-border-color: transparent;
	--shiki-code-block-border-radius: var(--code-radius);
	--shiki-code-block-border-width: 0px; /* this has to have a unit */

	--shiki-code-block-spacing: var(--p-spacing);

	--shiki-highlight-red: rgba(var(--color-red-rgb), 0.5);
	--shiki-highlight-green: rgba(var(--color-green-rgb), 0.5);
	--shiki-highlight-neutral: var(--shiki-code-normal);
	--shiki-highlight-red-background: rgba(var(--color-red-rgb), 0.1);
	--shiki-highlight-green-background: rgba(var(--color-green-rgb), 0.1);
	--shiki-highlight-neutral-background: rgba(var(--mono-rgb-100), 0.05);

	--shiki-terminal-dots-color: var(--text-faint);

	--shiki-tooltip-background: var(--background-modifier-message);
	--shiki-tooltip-text-color: #fafafa;

	--shiki-gutter-border-color: var(--background-modifier-border);
	--shiki-gutter-border-width: var(--border-width);
	--shiki-gutter-text-color: var(--text-faint);
	--shiki-gutter-text-color-highlight: var(--shiki-code-normal);

	--shiki-active-tab-border-width: 2px;
	--shiki-active-tab-border-color: var(--shiki-highlight-neutral);
}

.edit-block-button {
	pointer-events: all;

	& > svg {
		pointer-events: all;
	}
}

/* Disable ligatures in code blocks, as they can cause incorrect highlighting */
div.expressive-code {
	font-variant-ligatures: no-contextual;

	& > figure > pre {
		/* Fix for shimmering focus */
		margin: 0 !important;
	}

	& > figure.frame {
		&.has-title > figcaption.header::before {
			pointer-events: all !important;
		}

		& > figcaption.header {
			z-index: unset;
		}

		& > div.copy {
			/* Move the copy button to the bottom right */
			inset-block-end: calc(var(--ec-brdWd) + var(--ec-uiPadInl) / 2);
		}
	}
}

.markdown-preview-view {
	div.expressive-code {
		margin-block: var(--shiki-code-block-spacing);
	}
}

/* Hide the frontmatter code block in reading view again */
div.markdown-preview-view > div > div.mod-header + div > div.block-language-yaml.shiki-hide-in-reading-mode {
	display: none;
}

span.shiki-bold {
	font-weight: var(--bold-weight, 600);
}
span.shiki-italic {
	font-style: italic;
}
span.shiki-ul {
	text-decoration: underline;
}

/* Settings tab  */
.setting-item-control input.shiki-custom-theme-folder {
	min-width: 250px;
}
/*
 * shiki transformers style
 * https://shiki.style/packages/transformers#unstyled
 */
/* color perset */
:root {
	--vp-c-gray-1: #dddde3;
	--vp-c-gray-2: #e4e4e9;
	--vp-c-gray-3: #ebebef;
	--vp-c-gray-soft: rgba(142, 150, 170, .14);
	--vp-c-indigo-1: #3451b2;
	--vp-c-indigo-2: #3a5ccc;
	--vp-c-indigo-3: #5672cd;
	--vp-c-indigo-soft: rgba(100, 108, 255, .14);
	--vp-c-purple-1: #6f42c1;
	--vp-c-purple-2: #7e4cc9;
	--vp-c-purple-3: #8e5cd9;
	--vp-c-purple-soft: rgba(159, 122, 234, .14);
	--vp-c-green-1: #18794e;;
	--vp-c-green-2: #299764;
	--vp-c-green-3: #30a46c;
	--vp-c-green-soft: rgba(16, 185, 129, .14);;
	--vp-c-yellow-1: #915930;
	--vp-c-yellow-2: #946300;
	--vp-c-yellow-3: #9f6a00;
	--vp-c-yellow-soft: rgba(234, 179, 8, .14);
	--vp-c-red-1: #b8272c;
	--vp-c-red-2: #d5393e;
	--vp-c-red-3: #e0575b;
	--vp-c-red-soft: rgba(244, 63, 94, .14);
}
.dark {
	--vp-c-gray-1: #515c67;
	--vp-c-gray-2: #414853;
	--vp-c-gray-3: #32363f;
	--vp-c-gray-soft: rgba(101, 117, 133, .16);
	--vp-c-indigo-1: #a8b1ff;
	--vp-c-indigo-2: #5c73e7;
	--vp-c-indigo-3: #3e63dd;
	--vp-c-indigo-soft: rgba(100, 108, 255, .16);
	--vp-c-purple-1: #c8abfa;
	--vp-c-purple-2: #a879e6;
	--vp-c-purple-3: #8e5cd9;
	--vp-c-purple-soft: rgba(159, 122, 234, .16);
	--vp-c-green-1: #3dd68c;;
	--vp-c-green-2: #30a46c;
	--vp-c-green-3: #298459;
	--vp-c-green-soft: rgba(16, 185, 129, .16);;
	--vp-c-yellow-1: #f9b44e;
	--vp-c-yellow-2: #da8b17;
	--vp-c-yellow-3: #a46a0a;
	--vp-c-yellow-soft: rgba(234, 179, 8, .16);
	--vp-c-red-1: #f66f81;;
	--vp-c-red-2: #f14158;
	--vp-c-red-3: #b62a3c;
	--vp-c-red-soft: rgba(244, 63, 94, .16);;
}

/* Adapt to color preset */
:root {
	--vp-c-default-1: var(--vp-c-gray-1);
	--vp-c-default-2: var(--vp-c-gray-2);
	--vp-c-default-3: var(--vp-c-gray-3);
	--vp-c-default-soft: var(--vp-c-gray-soft);;
	--vp-c-brand-1: var(--vp-c-indigo-1);
	--vp-c-brand-2: var(--vp-c-indigo-2);
	--vp-c-brand-3: var(--vp-c-indigo-3);
	--vp-c-brand-soft: var(--vp-c-indigo-soft);
	--vp-c-brand: var(--vp-c-brand-1);
	--vp-c-tip-1: var(--vp-c-brand-1);
	--vp-c-tip-2: var(--vp-c-brand-2);
	--vp-c-tip-3: var(--vp-c-brand-3);
	--vp-c-tip-soft: var(--vp-c-brand-soft);
	--vp-c-note-1: var(--vp-c-brand-1);
	--vp-c-note-2: var(--vp-c-brand-2);
	--vp-c-note-3: var(--vp-c-brand-3);
	--vp-c-note-soft: var(--vp-c-brand-soft);
	--vp-c-success-1: var(--vp-c-green-1);;
	--vp-c-success-2: var(--vp-c-green-2);
	--vp-c-success-3: var(--vp-c-green-3);
	--vp-c-success-soft: var(--vp-c-green-soft);;
	--vp-c-important-1: var(--vp-c-purple-1);
	--vp-c-important-2: var(--vp-c-purple-2);
	--vp-c-important-3: var(--vp-c-purple-3);
	--vp-c-important-soft: var(--vp-c-purple-soft);
	--vp-c-warning-1: var(--vp-c-yellow-1);
	--vp-c-warning-2: var(--vp-c-yellow-2);
	--vp-c-warning-3: var(--vp-c-yellow-3);
	--vp-c-warning-soft: var(--vp-c-yellow-soft);;
	--vp-c-danger-1: var(--vp-c-red-1);;
	--vp-c-danger-2: var(--vp-c-red-2);
	--vp-c-danger-3: var(--vp-c-red-3);
	--vp-c-danger-soft: var(--vp-c-red-soft);;
	--vp-c-caution-1: var(--vp-c-red-1);
	--vp-c-caution-2: var(--vp-c-red-2);
	--vp-c-caution-3: var(--vp-c-red-3);
	--vp-c-caution-soft: var(--vp-c-red-soft)
}

/* Adapt to vuepress */
:root {
	--vp-code-line-height: 1.7;
	--vp-code-font-size: .875em;
	--vp-code-color: var(--vp-c-brand-1);
	--vp-code-link-color: var(--vp-c-brand-1);
	--vp-code-link-hover-color: var(--vp-c-brand-2);
	--vp-code-bg: var(--vp-c-default-soft);
	--vp-code-block-color: var(--vp-c-text-2);
	--vp-code-block-bg: var(--vp-c-bg-alt);
	--vp-code-block-divider-color: var(--vp-c-gutter);
	--vp-code-lang-color: var(--vp-c-text-2);
	--vp-code-line-highlight-color: var(--vp-c-default-soft);;
	--vp-code-line-number-color: var(--vp-c-text-2);
	--vp-code-line-diff-add-color: var(--vp-c-success-soft);;
	--vp-code-line-diff-add-symbol-color: var(--vp-c-success-1);;
	--vp-code-line-diff-remove-color: var(--vp-c-danger-soft);;
	--vp-code-line-diff-remove-symbol-color: var(--vp-c-danger-1);;
	--vp-code-line-warning-color: var(--vp-c-warning-soft);;
	--vp-code-line-error-color: var(--vp-c-danger-soft);;
	--vp-code-copy-code-border-color: var(--vp-c-divider);
	--vp-code-copy-code-bg: var(--vp-c-bg-soft);
	--vp-code-copy-code-hover-border-color: var(--vp-c-divider);
	--vp-code-copy-code-hover-bg: var(--vp-c-bg);
	--vp-code-copy-code-active-text: var(--vp-c-text-2);
	--vp-code-copy-copied-text-content: "Copied";
	--vp-code-tab-divider: var(--vp-code-block-divider-color);
	--vp-code-tab-text-color: var(--vp-c-text-2);
	--vp-code-tab-bg: var(--vp-code-block-bg);
	--vp-code-tab-hover-text-color: var(--vp-c-text-1);
	--vp-code-tab-active-text-color: var(--vp-c-text-1);
	--vp-code-tab-active-bar-color: var(--vp-c-brand-1)
}

code>span.line.diff {
	transition: background-color .5s;
	margin: 0 calc(-1 * var(--shiki-x-padding));
	padding: 0 var(--shiki-x-padding);
	width: calc(100% + 2 * var(--shiki-x-padding));
	display: inline-block
}
code>span.line.diff:before {
	position: absolute;
	left: 5px; /*old 10*/
}
code>span.line.diff.add {
	background-color: var(--vp-code-line-diff-add-color);
}
code>span.line.diff.add:before {
	content: "+";
	color: var(--vp-code-line-diff-add-symbol-color)
}
code>span.line.diff.remove {
	background-color: var(--vp-code-line-diff-remove-color);
}
code>span.line.diff.remove:before {
	content: "-";
	color: var(--vp-code-line-diff-remove-symbol-color)
}
code>span.line.highlighted {
	background-color: var(--vp-code-line-highlight-color);
	transition: background-color .5s;
	margin: 0 calc(-1 * var(--shiki-x-padding));
	padding: 0 var(--shiki-x-padding);
	width: calc(100% + 2 * var(--shiki-x-padding));
	display: inline-block
}
code>span.line.highlighted.error {
	background-color: var(--vp-code-line-error-color)
}
code>span.line.highlighted.warning {
	background-color: var(--vp-code-line-warning-color)
}
.has-focused code>span.line:not(.focused),
.has-focused-lines code>span.line:not(.has-focus) {
	filter:blur(.095rem);
	opacity:.4;
	transition:filter .35s,opacity .35s
}
.has-focused code>span.line:not(.focused),
.has-focused-lines code>span.line:not(.has-focus) {
	opacity:.7;
	transition:filter .35s,opacity .35s
}
.has-focused:hover code>span.line:not(.focused),
.has-focused-lines:hover code>span.line:not(.has-focus) {
	filter:blur(0);
	opacity:1
}

/* chore fix: keep color magin zero */
code>span.line {
	line-height: var(--shiki-line-height);
}

.obsidian-shiki-plugin {
	position: relative;
	min-width: 100%;
}

/* shiki attr style */
.obsidian-shiki-plugin textarea {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	resize: none;
	white-space: pre;
	overflow: auto;
	background-color: transparent;
	/* color: transparent; */
	color: #ffffff22;
}

/*
 * keep same: pre & textare
 * 
 * It is necessary to ensure that the style of this part is not overwritten,
 * Otherwise, `textarea` and `code` won't align
 */
:root {
	--shiki-x-padding: 16px;
	--shiki-line-height: 24px;
 }
.obsidian-shiki-plugin code, .obsidian-shiki-plugin textarea {
	line-height: var(--shiki-line-height) !important;
	tab-size: var(--indent-size) !important;
	font-size: var(--code-size) !important;
	font-family: var(--font-monospace) !important;
}
.obsidian-shiki-plugin code::selection, .obsidian-shiki-plugin textarea::selection {
	background-color: var(--text-selection) !important;
	color: currentColor !important
}
.obsidian-shiki-plugin code {
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
}
.obsidian-shiki-plugin pre, .obsidian-shiki-plugin textarea {
	margin: 0 !important;
	padding: 12px var(--shiki-x-padding) !important;
	border: 0 !important;
	cursor: text;
}
/* edit-block-button > textarea > pre */
.obsidian-shiki-plugin pre { z-index: 0; }
.obsidian-shiki-plugin textarea { z-index: 0; }
/* fix black line zero height */
.obsidian-shiki-plugin code > span {
	vertical-align: top !important;
	min-height: var(--shiki-line-height) !important;
}

/* read mode / rendered */
.markdown-preview-view .obsidian-shiki-plugin textarea,
.markdown-rendered:not(.cm-preview-code-block.cm-embed-block) .obsidian-shiki-plugin textarea {
	display: none;
}
.markdown-preview-view .obsidian-shiki-plugin pre,
.markdown-rendered:not(.cm-preview-code-block.cm-embed-block) .obsidian-shiki-plugin pre {
	margin-top: 16px !important;
	margin-bottom: 16px !important;
}

/* language-type-btn */
.obsidian-shiki-plugin .language-edit {
	position: absolute;
	bottom: 1px;
	right: 0;
	margin: 0;
	padding: 0;
	line-height: var(--shiki-line-height);
	min-height: var(--shiki-line-height);
	font-size: 13px;
	opacity: 0.5;
}
.obsidian-shiki-plugin .language-edit>input {
	margin: 0;
	padding: 0 14px;
	border: none;
	background: none;
	box-shadow: none;
	text-align: right;
}

/* pdf. Avoid displaying metadata in pdf exports. */
.print .mod-frontmatter {
	display: none !important;
}
